.menu1coldplay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D5D5D5;
    
}

.menu1coldplay a{
    color: grey;
    
}

.coldplay{
    color: orange;
    background-color: white;
    padding-right: 70px;
    padding-left: 70px;
    
}

